html, body, header {
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:black;
	margin: 0;
	color:white;
}
.header {
	witdh:100%;
	height:55px;
}

.top {
	float:left;
}

.loginout {
	text-align:right;
}
.menu {
	witdh:100%;
	height:63px;
	background:black;
}


@font-face {
	font-family: myFont;
    src: url(../font/BFox.ttf);
}
h1 {
	color:white;
	text-align:center;
	font-family: consolas;
	text-decoration: underline;
}

h2 {
	color:white;
	text-align:center;
	font-family: myFont;
	text-decoration: underline;
}

h3 {
	color:green;
	text-align:center;
	font-style: italic;
	font-family: consolas;
}

hr {
	margin-top:-20px;
	border-color:green;
}

cursiva{
	font-style: italic;
}







/* Imagenes centrales */

.slider {
	max-width:100%;
  	max-height:100%;
	width:20%;
 	height:300px;
 	border-size:3px;
	border:solid;
	border-color:green;
	border-radius: 50px;
}

.fslider {
	background:gray;
}

.fslider:hover {
	opacity: 0.4;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}








/* Marcos */

.marco {
 	border-size:3px;
	border:solid;
	border-color:green;
	border-radius: 50px;
	padding:4px;
}

.perfil {
 	border-size:3px;
	border:solid;
	border-color:green;
	border-radius: 10px;
	padding:4px;
}










/* Bordes */

.bordergreen {
	border-size:3px;
	border:solid;
	border-color:green;
	border-radius: 50px;
	margin:10px;
	padding:10px
}









/* Alineaciones */

.acenter{
	text-align:center;
	padding-top:15px;
}
.acenter2{
	text-align:center;
}

.pad10 {
	padding: 10px;
}
.pad30 {
	padding: 30px;
}
.separator {
	color:white;
	padding-left:3px;
	padding-right:3px;
}
.margin0 {
	margin:0 auto;
}

.left {
	text-align:left;
}

.right {
	text-align:right;
}










/* Colores de texto */
#txtgreen {
	color:#00C614;
}

#txtorange {
	color:#FFB318;
}

#txtwhite {
}








/* Colores de Fondo */

.bgslider {
	background-image: url("http://cdn.wallpapersafari.com/63/57/hzbgqZ.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
}










/* Tablas */
.table80 {
	margin:0 auto;
	width:80%;
	text-align:center;
}

.table40 {
	margin:0 auto;
	width:40%;
	text-align:center;
}

.table20 {
	margin:0 auto;
	width:20%;
	text-align:center;
}









/* Botones */
.btn {
    color: white;
    border:none;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: black;
    margin: 10px;
    
}

.btnblack:hover {
    background-color:#111;
    color: green;
	border-radius: 50px;
	border-color:white;
}

.btnlong {
    color: white;
    padding: 10px 300px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: black;
    margin: 10px;
    
}

.btnblack:hover {
    background-color:#111;
    color: green;
	border-radius: 10px;
	border-color:white;
}





/* ERRORES */

#alerta {
	border-size:3px;
	border:solid;
	border-color:red;
	border-radius: 20px;
	padding:4px;
	color:red;
}




/* Otros */
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {border-color: green;}
}






